@model TestProject.MVCWebUI.Models.ProductViewModel
@{
    ViewData["Titlw"] = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal" data-target="#product-adding-modal">Add</a></li>
                </ul>
            </div>

            <h4 class="header-title m-t-0 m-b-30">List of Products</h4>

            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table class="table table-bordered dataTable no-footer dtr-inline collapsed" role="grid" id="datatable">
                    <thead>
                        <tr>
                            <th scope="col" class="sorting_asc" aria-sort="ascending">Id</th>
                            <th scope="col" class="sorting" aria-sort="ascending">Name</th>
                            <th scope="col">Category Id</th>
                            <th scope="col">Height</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Width</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr role="row" class="orange-dot">
                                <td class="sorting_asc" tabindex="0">@product.Id</td>
                                <td>@product.Name</td>
                                <td>@product.CategoryId</td>
                                <td>@product.Height</td>
                                <td>@product.Weight</td>
                                <td>@product.Width</td>

                                <td align="center">
                                    <button class="btn btn-purple" data-toggle="modal" @*data-target="#product-updating-modal"*@
                                            onclick="editProduct(@product.Id)">
                                        Edit
                                    </button>
                                </td>
                                <td align="center">
                                    <button class="btn btn-danger" onclick="deleteProduct(@product.Id)">Delete </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--Product Add-->
<div id="product-adding-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <form asp-controller="Product" asp-action="Add" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title"><i class="fa fa-plus-circle"></i>Add Product</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Name</label>
                                <input asp-for="@Model.Product.Name" type="text" class="form-control" id="productName" placeholder="e.g. T-shirts" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">CategoryId</label>
                                <input asp-for="@Model.Product.CategoryId" type="text" class="form-control" id="catergoryId" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">Height</label>
                                <input asp-for="@Model.Product.Height" type="text" class="form-control" id="height" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">Weight</label>
                                <input asp-for="@Model.Product.Weight" type="text" class="form-control" id="weight" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">Width</label>
                                <input asp-for="@Model.Product.Width" type="text" class="form-control" id="width" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-purple waves-effect waves-light">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--Product Updating-->
<<div id="product-updating-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <form asp-controller="Product" asp-action="Edit" method="post">
            <input asp-for="@Model.Product.Id" id="productId" hidden />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title"><i class="fa fa-refresh"></i>Update Category</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Name</label>
                                <input asp-for="@Model.Product.Name" type="text" class="form-control" id="nameForUpdate" placeholder="e.g. T-shirts" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">CategoryId</label>
                                <input asp-for="@Model.Product.CategoryId" type="text" class="form-control" id="categoryIdForUpdate" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">Height</label>
                                <input asp-for="@Model.Product.Height" type="text" class="form-control" id="heightForUpdate" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">Weight</label>
                                <input asp-for="@Model.Product.Weight" type="text" class="form-control" id="weightForUpdate" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="control-label">Width</label>
                                <input asp-for="@Model.Product.Width" type="text" class="form-control" id="widthForUpdate" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-purple waves-effect waves-light">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function editProduct(id) {
        $.get("/Product/Edit", { id: id })
            .done(function (result) {
                $('#productId').val(result.id);
                $('#nameForUpdate').val(result.name);
                $('#categoryIdForUpdate').val(result.categoryId);
                $('#heightForUpdate').val(result.height);
                $('#weightForUpdate').val(result.weight);
                $('#widthForUpdate').val(result.width);
                $('#product-updating-modal').modal('show');
            })
    }

    function deleteProduct(id) {
        $.get('/Product/Delete', { id: id }).done(function (result) {
            if (result == 0) {
                alert("Hata:işlem gerekleştirilemedi!");

            } else {
                alert("işlem başarıyla gerçekleşti!")
            }
        });
    }
  

</script>